<div class="modal-container">
  <h2>Edit New Contact</h2>

  <form>
    <label for="name">Name</label>
    <input
      [(ngModel)]="selectedContact!.name"
      placeholder="Enter name"
      name="name"
      required
    />

    <label for="phone">Contact Number</label>
    <input
      [(ngModel)]="selectedContact!.phone"
      placeholder="Enter contact number"
      name="phone"
      required
    />

    <label for="email">Email address</label>
    <input
      [(ngModel)]="selectedContact!.email"
      type="email"
      name="email"
      placeholder="Enter email address"
      required
    />

    <div class="actions">
      <button type="button" class="cancel-button" (click)="onCancel()">
        Cancel
      </button>
      <button type="button" class="add-button" (click)="onUpdateContact()">
        Save Changes
      </button>
    </div>
  </form>
</div>
